.advert__header-main {
  position: relative;
}

.advert__image {
  @include rectangle;
  @include inset-top-left;
  margin-left: 12px;
  transform: translateY(25%);
}

.advert__header {
  margin-left: 88px;
}
