.footer__icons {
  font-size: 16px;
  background-color: $gray-999;
  @include rectangle(38px, 38px);
  color: #fff;
  border-radius: 50%;
  border: 2px solid $gray-999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer__icons:hover {
  background-color: $gray-1100;
}
