.offer__label {
  @include inset-top-right;
  @include rectangle(0, 0);
  border-style: solid;
  border-width: 0 75px 75px 0;
  border-color: transparent $yellow transparent transparent;
}

.offer__label > div {
  position: relative;
  border-width: 0 75px 75px 0;
  border-color: transparent;
}

.offer__label span {
  position: absolute;
  top: 0;
  display: block;
  white-space: nowrap;
  transform: rotate(45deg) translateX(50%);
  font-size: 13px;
  font-weight: 700;
}
