.news__image {
  @include rectangle(96px, 96px);
}

.news__title:hover {
  text-decoration: underline;
  text-decoration-color: $primary;
}

.news__list {
  list-style: none;
  cursor: pointer;
}

.news__list li::before {
  content: "\2022";
  color: $primary;
  font-weight: bold;
  display: block;
  width: 0.6em;
}

.bottom-gray {
  color: 1px solid $gray-300;
}

.news-list {
  display: inline-flex;
}

.news-list:hover {
  color: $gray-400;
}
