@mixin inset-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

@mixin left-top {
  position: absolute;
  left: 0;
  top: 0;
}
