.main {
  min-height: calc(100vh - 48px);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(195, 195, 195, 0.2) 100%
  );
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 8px;
}

.section {
  margin-top: 60px;
}

.section__header:hover .section__title,
.section__header:hover .section__title-icon {
  color: var(--gray-900);
}

.section__title {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -0.0375em;
}

.section__title-icon {
  margin-left: 4px;
  font-size: 18px;
}

.section__title,
.section__title-icon {
  color: var(--primary);
  transition: all 150ms ease-in-out;
  line-height: 32px;
}

@media only screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 77px);
  }
}
