.bg-gray-900 {
  background-color: var(--gray-900);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bg-gray-999 {
  background-color: var(--gray-999);
}

.bg-gray-1000 {
  background-color: var(--gray-1000);
}

.bg-gray-1100 {
  background-color: var(--gray-1100);
}
