.bg-gray-900 {
  background-color: var(--gray-900);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bg-primary-lighter {
  background-color: var(--primary-lighter);
}
