.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:flex {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .lg\:hidden {
    display: none;
  }

  .lg\:block {
    display: block;
  }
}
