.text-primary {
  color: var(--primary);
}

.text-white {
  color: #fff;
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-gray-700 {
  color: var(--gray-700);
}

.uppercase {
  text-transform: uppercase;
}

.text-xs {
  font-size: 13px;
}

.text-sm {
  font-size: 14px;
}

.text-lg {
  font-size: 20px;
}

.font-medium {
  font-weight: 500;
}

.font-medium-bold {
  font-weight: 700;
}

.underline-gray:hover {
  text-decoration: underline;
  text-decoration-color: var(--gray-400);
  cursor: pointer;
}
