:root {
  --font-family-default: inter;
  --gray-50: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-700: #3f3f46;
  --gray-900: #18181b;
  --primary: #f42;
}
